form{
  background-color: steelblue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 600px;
  height: 650px;
  
  
}

input{
  margin: 10px 10px 20px;
  border: 2px floralwhite;
  border-radius: 5px;
  
  
  
  
}

.form{
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 137, 239, 0.48);
  height: 1800px;
  

  
}

label{
  font-size: 20px;
}

.fname{
  
}

